html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#FFFFFF,#F8DAEA);
  font-family: Gill Sans, sans-serif;
  color:#000000;
}
header{
	padding-top: 1px;
  	height: 15%;
  	width:100%;
	background: #C8C7C9;
	text-align:center;
}
nav{
	height:50px;
	
	background-color:#FFD100;


}
a, a:hover{
	color:#C8C7C9;
	text-decoration: none;
	margin: 25px;
}
.form-control{
  margin: 10px;
}
.btn-light{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #C8C7C9;
  color: white;
  text-align: center;
  font-size: 10px;
}
